<form action="/signup" method="POST">
  
  <label>Email</label>
  <input name="email" type="text"  placeholder="Please enter your email"  >

  <label>Nickname</label>
  <input name="nickname" type="text"  placeholder="What do you want to be called on the site or for reviews?" >
  
  <label>Password</label>
  <input name="password" type="password"  placeholder="Enter a Password"  >
  <button>Sign Up</button>
</form>

{{#if error}}
  <p class="error">{{error}}</p>
{{/if}}