<div class="container">

    List of cocktails


    <div class="row">
        {{#each cocktails}}

        {{> minicard this}}
        <div class="col-md-3">
            {{this.name}}
            <form method="POST" action="/add-cocktail/{{this._id}}">
                <label>Tag</label><input type="text" name="tag1" value="{{this.tags}}"><br>
                <label>Tag</label><input type="text" name="tag2" value=""><br>
                <label>Tag</label><input type="text" name="tag3" value=""><br>
                <button type="submit">ADD</button>
            </form>
        </div>
        {{/each}}
    </div>
</div>