
<!--LOGO SVG-->
<section id="splash" style="padding: 5vw 10vw; background-image: url('/images/coverstraw.jpg'); background-size:cover; background-position:center;     background-blend-mode: color-burn;">
<img id="mojito-logo" src="/images/mojito-logo/default-white.png" style="width: 80vw; filter:drop-shadow(5 5 5 5)"/>
<!--LOGO END-->

<!--BUTTON-->

<div class="container d-flex justify-content-center" style="padding: 20px;">
  <div><a href="/signup" class="btn btn-success btn-floating btn-lg active shadow-1-strong" type="button" aria-pressed="true">Join the party</a> </div>
</div>

<!--END BUTTON-->
</section>