<div class="container">
    <div class="row">
    
    {{#each result}}

{{> vcard this}}

{{/each}}
</div>
</div>


<div class="container">
    <div class="row">
    
    {{#each result}}

{{> hcard this}}

{{/each}}
</div>
</div>