<div class="container">
    <div class="row">
    
    {{#each result}}

{{> v-card this}}

{{/each}}
</div>
</div>


div class="container">
    <div class="row">
    
    {{#each result}}

{{> h-card this}}

{{/each}}
</div>
</div>