BOOTS STRAPPED SIGN UP
<form action="/signup" method="POST">
    <div class="mb-3" style="max-width: 320px;">
        <label for="nickname" class="form-label">Nickname</label>
        <input name="nickname" type="text" class="form-control" id="nickname" aria-describedby="nickname"
            aria-label="default input " placeholder="What shall we call you?" required>
    </div class="valid-feedback">
    <div class="mb-3" style="max-width: 320px;">
        <label for="InputEmail" class="form-label">Email</label>
        <input name="email" type="text" class="form-control" id="InputEmail1" aria-describedby="emailHelp"
            placeholder="Please enter your email" required>
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div class="valid-feedback">
    <div class="mb-3" style="max-width: 320px;">
        <label for="InputPassword" class="form-label" placeholder="Enter a Password">Password</label>
        <input name="password" type="password" class="form-control" id="InputPassword">
    </div class="valid-feedback">
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="Check">
        <label class="form-check-label" for="Check1">Agree to Terms and Condtions.</label>
    </div class="valid-feedback">
    <button type="submit" class="btn btn-primary">Signup</button>
</form>
{{#if error}}
<p class="error">{{error}}</p>
{{/if}}

NEW SIGNIN
<form action="/signin" method="POST">
    <div class="mb-3" style="max-width: 320px;">
        <label for="InputEmail" class="form-label">Email</label>
        <input name="email" type="text" class="form-control" id="InputEmail1" aria-describedby="emailHelp"
            placeholder="Please enter your email" required>
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div class="valid-feedback">
    <div class="mb-3" style="max-width: 320px;">
        <label for="InputPassword" class="form-label" placeholder="Enter a Password">Password</label>
        <input name="password" type="password" class="form-control" id="InputPassword">
    </div class="valid-feedback">
    <button type="submit" class="btn btn-primary">Signin</button>
</form>
{{#if error}}
<p class="error">{{error}}</p>
{{/if}}
Don't have an account with us, join the party?
OLD SIGNUP
<form action="/signup" method="POST">

    <label>Email</label>
    <input name="email" type="text" placeholder="Please enter your email">

    <label>Nickname</label>
    <input name="nickname" type="text" placeholder="What do you want to be called on the site or for reviews?">

    <label>Password</label>
    <input name="password" type="password" placeholder="Enter a Password">
    <button>Sign Up</button>
</form>

{{#if error}}
<p class="error">{{error}}</p>
{{/if}}

<BR>
OLD SIGNIN
<form method="POST" action="/signin">
    <label>Email</label>
    <input type="text" name="email" placeholder="Enter your email">

    <label>Password</label>
    <input type="password" name="password" placeholder="Enter your Password">
    <button>Sign In</button>
</form>

{{#if error}}
<p class="error">{{error}}</p>
{{/if}}