*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: forestgreen;
    color: white;
}

.brand-title{
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links{
    display: flex;
    margin: 0%;
    padding:0%
}

.navbar-links-li{
    text-decoration: none;
    color: white;
}